* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: #1d2631;
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 8%;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 28px;
  font-weight: bold;
}

.logo i {
  color: var(--main-color);
  font-size: 32px;
  margin-right: 5px;
}

.navegation {
  display: flex;
}

.navegation a {
  color: var(--other-color);
  font-size: var(--p-font);
  font-weight: 500;
  margin: 0 30px;
  transition: a 0.55s ease;
}

.navegation a:hover {
  color: var(--main-color);
}

.header-icons {
  display: flex;
  align-items: center;
}

.botão-sair {
  background-color: transparent;
  border-color: #ff0909;
  color: #dae4e4;
  /*espaçamento*/
  padding: 15px;
  font-weight: bold;
  font-size: 12pt;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-out;
}

button:hover {
  background-color: #f30000;
  color: #fff;
}

.header-icons i {
  margin-right: 25px;
  font-size: 28px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header-icons i:hover {
  transform: translateY(-5px);
  color: var(--main-color);
}

.section {
  padding: 0 15%;
}
