@media screen and (max-widht: 600px) {
  ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }

  li {
    padding: 10px;
  }

  a {
    text-decoration: none;
  }
}
