* {
  margin: 0;
  padding: 0;
  font-family: "Playfair";
}

body {
  background-image: url(../images/capa-tenis.jpeg);
  background-repeat: no-repeat;
  /* Para cobrir o fundo por completo*/
  background-size: cover;
  /*caso sobre tela, basta utilizar attachment fixed*/
  background-attachment: fixed;
}

.container {
  /*deixar a div em um tamanho flexivel*/
  display: flex;
  /*deixar completamente no centro da tela*/
  justify-content: center;
  /* para a largura pegar 100% da tela*/
  width: 100%;
  margin-top: 100px;
}

.card {
  background-color: #ffffffba;
  /*espaçamento do card com o container*/
  padding: 30px;
  border-radius: 4%;
  /*Sombra para deixar o card mais estilizado, sequencia dos pixels- direita, baixo, esquerda e em cima*/
  box-shadow: 3px 3px 1px 0px #00000060;
  width: 400px;
}

h1 {
  /* alinhar o h1 oara o centro*/
  text-align: center;
  margin-bottom: 20px;
  color: rgb(7, 7, 85);
  font-size: 30px;
}

.label-float input {
  /* o input pega a tela toda e faz com que o Label mude para baixo*/
  width: 100%;
  /*Espaçamento em cima e em baixo*/
  padding: 5px 5px;
  /* fixar em uma linha  usando inline-block*/
  display: inline-block;
  border: 0;
  /* borda no input */
  border-bottom: 2px solid rgb(7, 7, 85);
  /* deixa a "caixa" do input transparente*/
  background-color: transparent;
  /*para nao aparecer a borda quando for digitar*/
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all 0.3s ease-out;
  border-radius: 0;
}

.label-float {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*muda a cor das "linhas" da label*/
.label-float input:focus {
  border-bottom: 2px solid rgba(78, 87, 206, 0.82);
}

.label-float label {
  color: rgba(16, 3, 157, 0.82);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  /*Pequena animação para o label "usuario" e "senha" se mova pra cima bem levemente*/
  transition: all 0.3s ease-out;
}

/* muda  cor da label (usuario,senha) quando o usuario clicar*/
.label-float input:focus + label,
.label-float input:valid + label {
  font-size: 13px;
  margin-top: 0;
  color: rgba(78, 87, 206, 0.82);
}

.button-cadastro {
  background-color: transparent;
  border-color: rgba(37, 46, 174, 0.82);
  color: rgb(7, 7, 85);
  /*espaçamento*/
  padding: 10px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  /*efeito leve no botão de "entrar"*/
  transition: all 0.3s ease-out;
}
/* hover para quando o usuario passar o cursor automaticamente muda de cor*/
button:hover {
  background-color: rgb(7, 7, 85);
  color: white;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.fa-eye {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: rgba(8, 3, 97, 0.82);
}

#msgError {
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  /*Para nao aparecer a borda na tela*/
  display: none;
}

#msgSuccess {
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}
