* {
  margin: 0;
  padding: 0;
  font-family: "Playfair";
}

body {
  background-image: url(../images/pexels-photo.jpg);
  background-repeat: no-repeat;
  /* Para cobrir o fundo por completo*/
  background-size: cover;
  /*caso sobre tela, basta utilizar attachment fixed*/
  background-attachment: fixed;
}

.container {
  /*deixar a div em um tamanho flexivel*/
  display: flex;
  /*deixar completamente no centro da tela*/
  justify-content: center;
  /* para a largura pegar 100% da tela*/
  width: 100%;
  margin-top: 100px;
}

.card {
  background-color: #ffede18d;
  /*espaçamento do card com o container*/
  padding: 30px;
  border-radius: 4%;
  /*Sombra para deixar o card mais estilizado, sequencia dos pixels- direita, baixo, esquerda e em cima*/
  box-shadow: 3px 3px 1px 0px #00000060;
}

h1 {
  /* alinhar o h1 oara o centro*/
  text-align: center;
  margin-bottom: 20px;
  color: #035453;
}

.label-float input {
  /* o input pega a tela toda e faz com que o Label mude para baixo*/
  width: 100%;
  /*Espaçamento em cima e em baixo*/
  padding: 5px 5px;
  /* fixar em uma linha  usando inline-block*/
  display: inline-block;
  border: 0;
  /* borda no input */
  border-bottom: 2px solid #038684;
  /* deixa a "caixa" do input transparente*/
  background-color: transparent;
  /*para nao aparecer a borda quando for digitar*/
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all 0.3s ease-out;
  border-radius: 0;
}

/*fundo das caixas do usuario, senha*/
.label-float {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*muda a cor das "linhas" (label)*/
.label-float input:focus {
  border-bottom: 2px solid #7ed2d1;
}

.label-float label {
  color: #035453;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  /*Pequena animação para o label "usuario" e "senha" se mova pra cima bem levemente*/
  transition: all 0.3s ease-out;
}

/* muda  cor da label (usuario,senha) quando o usuario clicar*/
.label-float input:focus + label {
  font-size: 13px;
  margin-top: 0;
  color: #7ed2d1;
}
/* para manter os labels para cima quando o usuario ja digitou os dados*/
.label-float input:valid + label {
  font-size: 13px;
  margin-top: 0;
  color: #7ed2d1;
}

.button-login {
  background-color: transparent;
  border-color: #038684;
  color: #017b79;
  /*espaçamento*/
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  /*efeito leve no botão de "entrar"*/
  transition: all 0.3s ease-out;
}
/* hover para quando o usuario passar o cursor automaticamente muda de cor*/
button:hover {
  background-color: #035453;
  color: #fff;
}

.button-center {
  display: flex;
  justify-content: center;
}

hr {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
}

p {
  color: #017b79;
  font-size: 14pt;
  text-align: center;
}

a {
  color: #055e5d;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

a:hover {
  color: #023534;
}

.fa-eye {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #035453;
}

#msgError {
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}
